{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
        {% if user.is_authenticated %}
            <span>Olá, {{ user.username }}!</span>

            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Sair</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Entrar</a>
        {% endif %}
    {% endfor %}
{% endblock %}